.functions {
  background-color: #e8e8eb;
  width: 500px;
  max-width: calc(100% - 100%);
  height: fit-content;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 100%;
  border-radius: 20px 0 0 20px;
  z-index: 2;
  padding: 0 5px;
  /* pointer-events: none; */
  transition: left 0.5s ease-in-out, max-width 0.5s ease-in-out;
}

.functions::before {
  pointer-events: all;
  content: '';
  border-radius: 8px 0 0 8px;
  width: 10px;
  height: 100px;
  position: absolute;
  top: calc(50vh - 40px);
  left: -10px;
  background-color: var(--orange);
}

.function-cover {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: calc(100% - 500px);
  z-index: 0;
  display: none;
  background-color: rgba(248, 248, 252, 0.5);
}

.other {
  background-color: #e7e7f1;
  width: 400px;
  position: absolute;
  right: 0;
  padding-bottom: 25px;
  border-top-left-radius: 30px;
  margin-top: 40px;
}

.other > div {
  padding: 0 20px;
}

.other h5 {
  font-size: 1.2rem;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}

.card {
  background-color: #fff;
  border-radius: 10px;
  margin: 6px;
  padding: 2px;
}

.card-header {
  border-radius: 10px;
  display: flex;
  padding: 5px;
  justify-content: space-between;
}

.card-header img {
  width: 20px;
  padding: 5px;
  border-radius: 8px;
}

.card-header img:first-child {
  background-color: rgba(255, 255, 255, 0.2);
}

.card-header__red {
  background-color: var(--red);
}

.card-header__orange {
  background-color: var(--orange);
}

.card-header__blue {
  background-color: #87dff0;
}

.card-header__grey {
  background-color: #e7e7f1;
}

.card-header__grey img:first-child {
  background-color: rgba(255, 255, 255, 0.8);
}

.card-body {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
}

.card-body p {
  font-size: 0.8rem;
}

.statistics {
  background-color: #fff;
  border-radius: 20px;
  padding: 20px;
}

.stats-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.stats-header > div:first-child h5 {
  margin: 8px 0;
}

.stats-header > div:first-child p {
  opacity: 0.7;
  font-size: 0.8rem;
  margin: 8px 0;
}

.stats-select {
  display: flex;
  border: 1px solid #d3d3da;
  width: 60px;
  padding: 2px;
  border-radius: 7px;
}

.stats-select img {
  width: 20px;
  padding: 5px;
}

.stats-select img:first-child {
  background-color: var(--orange);
  border-radius: 7px;
}

.chart {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
}

.bar {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.bar p {
  opacity: 0.4;
  margin: 5px 0;
}

.progress-v {
  width: 5px;
  height: 200px;
  border-radius: 10px;
  background-color: #e7e7f1;
  position: relative;
  padding: 0 2px;
}

.progress-v div {
  position: absolute;
  bottom: 0;
  border-radius: 8px;
  height: 40%;
  width: calc(100% - 4px);
  background-color: #87dff0;
}

.bar:first-child .progress-v div {
  height: 80%;
}
.bar:nth-child(2) .progress-v div {
  height: 50%;
}
.bar:nth-child(3) .progress-v div {
  height: 40%;
}
.bar:nth-child(4) .progress-v div {
  height: 90%;
  background-color: var(--orange);
}
.bar:nth-child(5) .progress-v div {
  height: 60%;
}
.bar:nth-child(6) .progress-v div {
  height: 70%;
}
.bar:nth-child(7) .progress-v div {
  height: 90%;
}
.bar:last-child .progress-v div {
  height: 50%;
}

@media screen and (min-width: 768px) {
  .functions::before {
    display: none;
  }
  .function-cover {
    display: none;
  }
}