@import url('./variables.css');
@import url('./navbar.css');
@import url('./sidebar.css');

body {
  font-family: 'Roboto', sans-serif;
  color: var(--blue);
  background-color: var(--white);
}

.container {
  width: 1500px;
  padding: 30px 0 0 30px;
  max-width: calc(100% - 30px);
}

.sm-hidden {
  display: none;
}

.icon {
  stroke: red;
  fill: red;
  color: red;
}

@media screen and (min-width: 768px) {
  .sm {
    display: none !important;
  }

  .sm-hidden {
    display: flex !important;
  }
}