@import url('./variables.css');
@import url('./navbar.css');
@import url('./sidebar.css');
@import url('./functions.css');
@import url('./toggle.css');

body {
  font-family: 'Roboto', sans-serif;
  color: var(--blue);
  background-color: var(--white);
}

.container {
  width: 1200px;
  margin: 70px auto;
  padding: 30px 10px;
  max-width: calc(100% - 20px);
}

.welcome {
  width: 1200px;
  max-width: calc(100% - 10%);
  background-color: var(--orange);
  border-radius: 20px;
  color: var(--white);
  padding: 5%;
  background-image: url('../assets/macbook.png');
  background-size: 50%;
  background-position: 150% 50%;
  background-repeat: no-repeat;
}

.welcome h1 {
  font-size: 1.7rem;
  font-weight: 700;
}

.welcome p {
  opacity: 0.7;
  color: white;
  font-weight: thin;
  font-size: 0.9rem;
}

.calendar {
  margin: 20px 0;
}

.month {
  display: flex;
  justify-content: space-between;
}

.month-name {
  display: flex;
  align-items: center;
}

.month-name p {
  width: 110px;
  margin: 0 10px;
}

.month-name span {
  display: flex;
  width: 55px;
  height: 28px;
  border-radius: 20px;
  background-color: var(--red);
  display: flex;
  justify-content: space-around;
}

.month-name span img {
  width: 12px;
}

.month-select {
  display: flex;
  display: flex;
  width: 75px;
  height: 28px;
  border-radius: 20px;
  background-color: #e8e8eb;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 10px;
}

.month-select img {
  width: 15px;
}

.month-select p {
  margin: 0 5px;
  opacity: 0.7;
  font-size: 0.9rem;
}

.days {
  border-top: 1px solid #e8e8eb;
  border-bottom: 1px solid #e8e8eb;
  width: 1200px;
  max-width: 100%;
  overflow: auto;
  display: flex;
  margin: 20px 0;
  justify-content: space-between;
}

.day {
  flex-shrink: 0;
  width: 60px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 15px 10px;
  transition: padding 0.3s ease-out;
}

.day h4,
.day p {
  margin: 8px 0;
}

.day h4 {
  opacity: 0.7;
}

.day p {
  opacity: 0.5;
}

.day-color {
  margin: 2px 0;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  opacity: 0.5;
}

.orange .day-color {
  background-color: var(--orange);
}

.orange.raised {
  background-color: var(--orange);
  padding: 1% 0;
  border-radius: 10px;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.5);
}

.red .day-color {
  background-color: var(--red);
}

.red.raised {
  background-color:var(--red);
  padding: 1% 0;
  border-radius: 10px;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.5);
}

.green .day-color {
  background-color: #87dff0;
}

.green.raised {
  background-color: #87dff0;
  padding: 1% 0;
  border-radius: 10px;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.5);
}

.raised .day-color {
  background-color: #fff;
}


.reports-header {
  display: flex;
  max-width: 100%;
  justify-content: space-between;
  align-items: center;
}

.reports-header h4 {
  font-size: 1.2rem;
  font-weight: 400;
}

.reports-header ul {
  padding: 0;
  list-style-type: none;
}

.reports-header li {
  display: inline;
  margin: 0 5px;
}

.reports-header ul a {
  text-decoration: none;
  opacity: 0.8;
  color: var(--blue);
}

.reports-header ul a:active,
.reports-header ul a:hover {
  font-weight: bold;
  opacity: 1;
  color: var(--blue);
}

.report-stats {
  display: flex;
  overflow-x: auto;
  overflow-y: hidden;
  max-width: 100%;
  min-height: 200px;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}

.report-stats a {
  text-decoration: none;
  color: var(--blue);
  transition: transform 0.3s ease-out;
}

.report-stats a:visited {
  text-decoration: none;
  color: var(--blue);
}

.report-stats a:hover {
  transform: scale(1.1);
}

.report {
  margin: 5px 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  border: 1px solid rgba(34, 22, 121, 0.1);
  border-radius: 20px;
  width: 120px;
  flex-shrink: 0;
  padding: 10px 10px 0;
}

.report img {
  padding: 9px;
  border-radius: 10px;
  width: 20px;
}

.report-stats a:last-child img {
  border: 1px solid #777be2;
}

.report-stats a:last-child:hover img{
  background-color: rgba(119, 123, 226, 0.8);
}

.report-stats a:last-child:hover .report div {
  background-color: rgba(119, 123, 226, 0.8);
}

.report-stats a:first-child img {
  border: 1px solid #fc9b37;
}

.report-stats a:first-child:hover img{
  background-color: rgba(252, 153, 55, 0.8);
}

.report-stats a:first-child:hover .report div {
  background-color: rgba(252, 153, 55, 0.8);
}

.report-stats a:nth-child(2) img {
  border: 1px solid #f5540b;
}

.report-stats a:nth-child(2):hover img{
  background-color: rgba(245, 85, 11, 0.8);
}

.report-stats a:nth-child(2):hover .report div {
  background-color: rgba(245, 85, 11, 0.8);
}

.report-stats a:nth-child(3) img {
  border: 1px solid #87dff0;
}

.report-stats a:nth-child(3):hover img{
  background-color: hsla(190, 78%, 74%, 0.8);
}

.report-stats a:nth-child(3):hover .report div {
  background-color: hsla(190, 78%, 74%, 0.8);
}

.report div {
  font-size: 1.2rem;
  border-radius: 14px;
  background-color: transparent;
  padding: 10px;
  margin: 10px 0;
  width: calc(100% - 30px);
  text-align: center;
  font-weight: 700;
  opacity: 0.8;
}

/* Monitoring section */
.stats {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.stats > div {
  border-radius: 20px;
  padding: 15px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 10px;
}

.stats div h5 {
  margin: 10px 0;
}

.stats div p {
  margin: 10px 0;
  opacity: 0.8;
  font-size: 0.8rem;
}

.stats hr {
  width: 2px;
  height: 80px;
  margin: 0;
  border: none;
  background-color: #e8e8eb;
}

.stats > div:first-child {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}


.stats > div:first-child .progress, 
.stats > div:last-child .progress {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.stats > div:first-child .progress {
  border-top: 6px solid #e8e8eb;
  border-bottom: 6px solid #e8e8eb;
  border-left: 6px solid #e8e8eb;
  border-right: 6px solid var(--red);
}

.stats > div:last-child {
  background-color: var(--blue);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  color: var(--white);
}

.stats > div:last-child .progress {
  border-bottom: 6px solid rgba(255, 255, 255, 0.1);
  border-top: 6px solid var(--orange);
  border-left: 6px solid rgba(255, 255, 255, 0.1);
  border-right: 6px solid var(--orange);
}

/* End of monitoring section */

.functions-md {
  display: none;
}

.sm-hidden {
  display: none;
}

@media screen and (min-width: 768px) {
  .body {
    display: grid;
    grid-template-columns: 70% 30%;
    position: relative;
    left: 150px;
    max-width: calc(100% - 150px);
    margin: 0;
  }

  .container {
    margin: 0 auto;
    padding: 30px 0;
    flex: 0 0 70%;
  }

  .reports-header li {
    margin: 0 10px;
  }

  .sm {
    display: none !important;
  }

  .sm-hidden {
    display: flex !important;
  }

  .functions-md {
    display: block;
    padding: 50px 0;
    /* min-width: 400px; */
  }

  .functions-md .actions {
    justify-content: flex-end;
  }
}