/* Navbar related styles */
.navbar {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 80px;
  align-items: center;
  justify-content: space-between;
}

.actions {
  display: flex;
  align-items: center;
}

.action.dp {
  border-radius: 10px;
  width: 45px;
  height: 45px;
}

.dp img,
.action img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.action {
  margin: 0 10px;
  width: 25px;
  position: relative;
}

.bell::before {
  content: '';
  position: absolute;
  width: 8px;
  height: 8px;
  background-color: #ff4800;
  top: 3px;
  right: 3px;
  border-radius: 50%;
}
/* End of navbar styles */