.sidebar {
  background-color: var(--blue);
  position: fixed;
  left: 10px;
  top: 10px;
  bottom: 10px;
  width: 100px;
  border-radius: 20px;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: var(--white);
  align-items: center;
}

.sidebar ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70px;
  list-style-type: none;
  padding: 0;
  position: relative;
}

.sidebar img {
  width: 20px;
  fill: #fff;
  margin: 20px 0;
}

.sidebar a {
  z-index: 2;
}

.sidebar-icon {
  position: relative;
  display: flex;
}


/* .sidebar-icon a:hover + div,
.sidebar-icon a:visited + div {
  width: 80px;
  height: 50px;
  background-color: var(--white);
  position: absolute;
  top: 5px;
  left: -20px;
  z-index: -1;
  border-radius: 30px 0 0 30px;
} */

.hovered {
  width: 80px;
  height: 50px;
  background-color: var(--white);
  position: absolute;
  top: 5px;
  left: -20px;
  z-index: -1;
  border-radius: 30px 0 0 30px;
}

.hovered::before,
.hovered::after {
  content: '';
  width: 30px;
  height: 30px;
  background-color: var(--blue);
}

.hovered::before {
  border-bottom: 10px solid var(--white);
  border-right: 10px solid var(--white);
  position: absolute;
  right: -11px;
  top: -30px;
  border-bottom-right-radius: 80%;
}

.hovered::after {
  border-top: 10px solid var(--white);
  border-right: 10px solid var(--white);
  position: absolute;
  right: -11px;
  bottom: -30px;
  border-top-right-radius: 80%;
}


.cover {
  background-color: rgba(100, 100, 100, 0.5);
  position: absolute;
  z-index: 1;
  left: 50px;
  right: 0;
  top: 0;
  bottom: 0;
  display: none;
}

@media screen and (min-width: 768px) {
  .cover {
    display: none !important;
  }
}